In [114]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [115]:
df=pd.read_csv('customer_test.csv')

In [116]:
df.drop(['ID'],axis=1,inplace=True)

In [117]:
df.shape

(2627, 9)

In [118]:
df

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6
1,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6
2,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6
3,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6
4,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6
...,...,...,...,...,...,...,...,...,...
2622,Male,No,29,No,Healthcare,9.0,Low,4.0,Cat_6
2623,Female,No,35,Yes,Doctor,1.0,Low,1.0,Cat_6
2624,Female,No,53,Yes,Entertainment,NaN,Low,2.0,Cat_6
2625,Male,Yes,47,Yes,Executive,1.0,High,5.0,Cat_4
2626,Female,No,43,Yes,Healthcare,9.0,Low,3.0,Cat_7

In [119]:
df['Age'].unique()

array([36, 37, 69, 59, 19, 47, 61, 50, 22, 27, 18, 20, 45, 55, 88, 63, 42,
       79, 35, 52, 29, 87, 89, 31, 72, 41, 62, 56, 60, 68, 57, 51, 86, 74,
       23, 80, 78, 48, 70, 83, 73, 46, 43, 32, 39, 71, 67, 49, 65, 33, 58,
       30, 21, 26, 81, 28, 76, 85, 66, 53, 40, 25, 77, 75, 82, 84, 38],
      dtype=int64)

In [120]:
df['Age'] = df['Age'].fillna(df['Age'].mean()).round(2)

In [121]:
df['Ever_Married']=df['Ever_Married'].fillna(df['Ever_Married'].mode()[0])

In [122]:
df['Graduated']=df['Graduated'].fillna(df['Graduated'].mode()[0])

In [123]:
df['Profession']=df['Profession'].fillna(df['Profession'].mode()[0])

In [124]:
df['Work_Experience']=df['Work_Experience'].fillna(round(df['Work_Experience'].mean()))

In [125]:
df['Family_Size']=df['Family_Size'].fillna(round(df['Family_Size'].mean()))

In [126]:
df['Var_1']=df['Var_1'].fillna(df['Var_1'].mode()[0])

In [127]:
df.isna().sum()

Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
dtype: int64

In [128]:
from sklearn.preprocessing import LabelEncoder
lab=LabelEncoder()
cols=['Gender','Ever_Married','Graduated']
for i in cols:
    df[i]=lab.fit_transform(df[i])
df

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,0,1,36,1,Engineer,0.0,Low,1.0,Cat_6
1,1,1,37,1,Healthcare,8.0,Average,4.0,Cat_6
2,0,1,69,0,Artist,0.0,Low,1.0,Cat_6
3,1,1,59,0,Executive,11.0,High,2.0,Cat_6
4,0,0,19,0,Marketing,3.0,Low,4.0,Cat_6
...,...,...,...,...,...,...,...,...,...
2622,1,0,29,0,Healthcare,9.0,Low,4.0,Cat_6
2623,0,0,35,1,Doctor,1.0,Low,1.0,Cat_6
2624,0,0,53,1,Entertainment,3.0,Low,2.0,Cat_6
2625,1,1,47,1,Executive,1.0,High,5.0,Cat_4
2626,0,0,43,1,Healthcare,9.0,Low,3.0,Cat_7

In [129]:
df=pd.get_dummies(df,columns=['Profession','Spending_Score','Var_1'],drop_first=True,dtype=int)

In [130]:
df.dtypes

Gender                        int32
Ever_Married                  int32
Age                           int64
Graduated                     int32
Work_Experience             float64
Family_Size                 float64
Profession_Doctor             int32
Profession_Engineer           int32
Profession_Entertainment      int32
Profession_Executive          int32
Profession_Healthcare         int32
Profession_Homemaker          int32
Profession_Lawyer             int32
Profession_Marketing          int32
Spending_Score_High           int32
Spending_Score_Low            int32
Var_1_Cat_2                   int32
Var_1_Cat_3                   int32
Var_1_Cat_4                   int32
Var_1_Cat_5                   int32
Var_1_Cat_6                   int32
Var_1_Cat_7                   int32
dtype: object

In [131]:
customer_test=df.to_csv('customer_preprocessed_data.csv')

In [132]:
df

,Gender,Ever_Married,Age,Graduated,Work_Experience,Family_Size,Profession_Doctor,Profession_Engineer,Profession_Entertainment,Profession_Executive,...,Profession_Lawyer,Profession_Marketing,Spending_Score_High,Spending_Score_Low,Var_1_Cat_2,Var_1_Cat_3,Var_1_Cat_4,Var_1_Cat_5,Var_1_Cat_6,Var_1_Cat_7
0,0,1,36,1,0.0,1.0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
1,1,1,37,1,8.0,4.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,1,69,0,0.0,1.0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
3,1,1,59,0,11.0,2.0,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
4,0,0,19,0,3.0,4.0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622,1,0,29,0,9.0,4.0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2623,0,0,35,1,1.0,1.0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2624,0,0,53,1,3.0,2.0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
2625,1,1,47,1,1.0,5.0,0,0,0,1,...,0,0,1,0,0,0,1,0,0,0
2626,0,0,43,1,9.0,3.0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1